{% extends 'base/base.html' %}

{% block contenido  %}

<h2>LISTA DE PACIENTES</h2>
<a href="{% url 'pacientes:nuevo' %}">Nuevo paciente</a>
<table>
    <tr>
        <th>| Nombre</th>
        <th>| Apellido</th>
        <th>| DNI</th>
        <th>| Género</th>
        <th>| Fecha de nacimiento</th>
    </tr>

    {% for p in pacientes %}
        <tr>
            <td>| {{ p.nombre|default:" -" }}</td>
            <td>| {{ p.apellido|default:" -" }}</td>
            <td>| {{ p.dni|default:" -" }}</td>
            <td>| {{ p.genero|default:" -" }}</td>
            <td>| {{ p.fecha_nacimiento|default:" -" }}</td>
        </tr>
    {% endfor %}
</table>

{% include "includes/paginacion.html" %}

{% endblock contenido %}