{% load static %}

<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    
    <div class="sidebar-brand">
        <a href="./index.html" class="brand-link">
            <img src="{% static 'assets/img/AdminLTELogo.png' %}" alt="Logo App Vac" class="brand-image opacity-75 shadow">
            <span class="brand-text fw-light">APP VAC</span>
        </a>
    </div>

    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-palette"></i>
                        <p>Página</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-box-seam-fill"></i>
                        <p>
                            Usuarios
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Registro</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'usuarios:lista' %}" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Lista</p>
                            </a>
                        </li>
                    </ul>
                </li>
                
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-ui-checks-grid"></i>
                        <p>
                            Pacientes
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'pacientes:nuevo' %}" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Nuevo</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'pacientes:lista' %}" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Lista</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-download"></i>
                        <p>
                            Vacunas
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'vacunas:nuevo' %}" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Nuevo</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'vacunas:lista' %}" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Lista</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-header">DOCUMENTATIONS</li>
                <li class="nav-item">
                    <a href="./docs/faq.html" class="nav-link">
                        <i class="nav-icon bi bi-question-circle-fill"></i>
                        <p>FAQ</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="./docs/license.html" class="nav-link">
                        <i class="nav-icon bi bi-patch-check-fill"></i>
                        <p>License</p>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</aside>